@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(139,69,19);
}

/*headings and logos */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(139,69,19);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigations */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(139,69,19);
}

.active {
    border-bottom: 1px solid rgb(139,69,19);
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-information, #main-information h2  {
    color: white;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-tamás-mészáros-12064.jpg) no-repeat center center;
}

#main-information {
    font-size: 130%;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    width: 500px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    margin-bottom: 5%;

    background-color: rgb(139,69,19);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* hacks and description */

 #hacks {
    height: 600px;
    text-align: center;
 }

 #left-hack {
    padding-top: 30px;
    width: 33%;
    float: left;
 }

 #right-hack {
    padding-top: 30px;
    width: 33%;
    float: right;
 }

 /* hacks image */

 #hack-image {
    height: 80%;
    background: url(../images/pexels-cottonbro-4778611.jpg) center center;
    border-radius: 100%;
 }

 .center-hack {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
 }



 /* footer and social media */

footer {
    height: 150px;
    background-color: rgb(139,69,19);
}
 
.contact {
    color: white;
    text-align: center;
    padding-top: 5px;
}

 .social-media {
    text-align: center;
 }

 .social-media > li {
    display: inline;
 }

 .social-media i {
    font-size: 160%;
    margin: 0,5%;
    padding: 2%; 
    color: white;
}

/* form */

form {
    padding: 5%;
}

form input {
    border: 1px solid #3a3a3a;
    display: grid;
    font-size: 100%;
}

/*For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width: 1200px) {

    #logo {
        max-width: 100%;
        float: left;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }

    #menu {
        max-width: 100%;
        float: right;
    }

    #right-hack, #left-hack {
        width: 100%;
        float: left;
        padding: 0;
    }

    #main-information {
        max-width: 100%;
        float: right;
    }

    #main-image {
        max-width: 100%;
    }
    
}
