@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(139,69,19);
}

/*headings and logos */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(139,69,19);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigations */

#menu {
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid rgb(139,69,19);
}

.active {
    border-bottom: 1px solid rgb(139,69,19);
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-information, #main-information h2  {
    color: white;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-tamás-mészáros-12064.jpg) no-repeat center center;
}

#main-information {
    font-size: 130%;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;

    width: 400px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    margin-bottom: 5%;

    background-color: rgb(139,69,19);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* hacks and description */

 #hacks {
    height: 600px;
    text-align: center;
    padding: 2%;
 }

 #left-hack {
    padding-top: 30px;
    width: 45%;
    float: left;
 }

 #right-hack {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 45%;
    float: right;
 }

 #hacks h3 {
    padding: 2%;
    font-family: Playfair Display, sans-serif;
 }

 /* footer and social media */

footer {
    height: 150px;
    background-color: rgb(139,69,19);
}
 
.contact {
    color: white;
    text-align: center;
    padding: 5px 0px 5px;
}

 .social-media {
    text-align: center;
 }

 .social-media > li {
    display: inline;
 }

 .social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 2%; 
    color: white;
}

/* form */

form {
    padding: 5% 40% 5%;
}

form input {
    border: 1px solid black;
    display: grid;
    font-size: 100%;
    width: 200px;
    height: 20px;
}

.registerh {
    text-align: center;
    border-bottom: 1px solid rgb(139,69,19);
    font-family: playfair Display, sans-serif;
    padding-top: 3%;
    padding-bottom: 1%;
}

.infoh {
    text-align: center;
    font-family: Playfair Display, sans-serif;
    padding: 0 20% 0;
}

#comment {
    border: 1px solid black;
}

/*For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width: 1200px) {

    #hacks {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    }

    #left-hack, #right-hack {
       width: 100%;
       float: left;
       margin: 0;
    }
    
    #logo {
        padding: 30px 0;
        margin: 0;
        text-align: center;
    }

    .registerh {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0 10px;
    }

    .infoh {
        width: 100%;
        margin: 0 auto;
    }

    #registration {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        text-align: center;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #main-information {
        left: 0;
        width: 90%;
        max-height: 1200px;
        text-align: center;
    }

    #hacks {
        width: 90%;
        height: 1000px;
        padding-bottom: 5%;
    }

    .registerh {
        width: 90%;
        padding: 50px 5px 5px;
    }
    .infoh {
        width: 90%;
        padding: 5px;
    }

    #registraion {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    #registraion > p {
        width: 90%;
        max-height: 400px;
        margin: 0 auto;
    }
}
